body {
  padding: 0%;
  margin: 0%;
  user-select: none;
}

* {
  font-family: molengeek;
}

/* Header */
main div:first-child hr {
  border: 1px solid #9b009d;
  width: 50px;
  margin-bottom: 50px;
}

#inbut {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b009d;
}

button {
  background-color: #00e173;
  border-radius: 3px;
  border-color: transparent;
  padding: 5px;
  color: white;
}

input {
  padding: 5px;
}

header nav ul li {
  text-decoration: none;
  margin-left: 50px;
}
header nav ul li:nth-child(8) {
  border-left: #efefef 2px solid;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

#many {
  height: 50px;
  position: absolute;
  filter: brightness(300%);
}

/* Nav */
#img1 {
  border-right: 1px solid #efefef;
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

nav {
  border-bottom: #efefef 1px solid;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline 2px;
}
a:active {
  text-decoration: black 2px;
}

header div:nth-child(1) {
  gap: 10px;
  color: white;
}

@font-face {
  font-family: molengeek;
  src: url(../font/fype-co-londonbridge-semibold.otf);
}
nav div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav div div:last-child {
  margin-left: 50px;
  border-left: #efefef 2px solid;
  height: 100px !important;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 100px;
}

/* section */
.para {
  text-align: justify;
}

ul li::marker {
  color: #9b009d;
  font-size: 1.5em;
}

.liste-sec1 li {
  padding-bottom: 10px;
}

main h1 {
  text-align: center;
  padding: 50px;
}

.sec1 {
  margin-left: 150px;
  margin-right: 150px;
}

.sec2 {
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 20px;
}
.sec2 h2 {
  text-align: justify;
}

/* footer */
footer div:first-child {
  background-color: #3B3A3A;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #4b4949;
  background-color: #3B3A3A;
}

.lien-footer {
  /* text-align: center;
  * *position: absolute;
  * *left:550px;
  * *top:20px; */
  display: flex;
  justify-content: center;
}
.lien-footer a {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  color: white;
}

.logo-footer {
  /* position: absolute;
  * *top:100px;
  * *left:600px; */
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.logo-footer img {
  height: 100px;
}

footer div:nth-child(2) {
  display: flex;
  flex-direction: wrap;
  background-color: #3B3A3A;
}
footer div:last-child p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0%;
  background-color: #3B3A3A;
  color: #4b4949;
}

.fa-brands {
  display: inline-block;
}

.fa-facebook-f {
  padding: 0.7em 0.9em;
  border-radius: 60px;
  box-shadow: 0 0 3px white;
  padding: 0.7em 0.9em;
}

.fa-twitter {
  border-radius: 60px;
  box-shadow: 0 0 3px white;
  padding: 0.7em 0.7em;
}

.fa-instagram {
  border-radius: 60px;
  box-shadow: 0 0 3px white;
  padding: 0.7em 0.8em;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
  background-color: white;
  color: #3B3A3A;
}

/*# sourceMappingURL=style.css.map */
