body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    user-select: none;
}
body, html {
    height: 100%;
    color: rgb(83, 71, 71);
    line-height: 1.8;
}

/*Navbar Styles*/
.w3-navbar { color: #fff; background-color: rgba(8, 8, 8, 0.37); }
.w3-navbar.w3-animate-top { color: rgb(59, 53, 53); }
.w3-navbar li a:hover { background-color: rgba(0,0,0,0.2); color: #fff; }

/* Create a Parallax Effect */
.bgimg-1 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../images/nature_landscape_storm_plains_lightning_clouds_overcast_South_Dakota-132395.jpg!d");
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Social Media Icons */
.w3-half > a {
  text-decoration: none;
}   

#about1{
    text-align: center;
    background-color: #fff;
}